@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');
html{
    font-family: 'Raleway', sans-serif;
}
.marginleft{
    margin-left: 3%;
}
.container{
    max-width: 1360px;
    margin: 0 auto;
}
body header{
    display: inline-block;
    padding-top: 2em;
    width: 100%;
}
body header img{
    float: left;
}
body header nav ul{
    text-align: right;
}
body header nav ul li{
    display: inline-block;
    list-style-type: none;
}
body header nav ul li a:hover{
    color: #0065FC;
    text-decoration-line: none;
    border-top: #0065FC solid 2px;
    padding-top: 2em;
}
.linkaccomodation{
    color: #0065FC;
}
.linkaccomodation:link{
    color: #0065FC;
    text-decoration-line: none;
    border-top: #0065FC solid 2px;
    padding-top: 2em;
}
.linkactivities{
    text-decoration-line: none;
    color: grey;
    margin-left: 10em;
}
.signup{
    color: #0065FC;
    text-decoration-line: none;
    margin-right: 4em;
    margin-left: 10em;
}
.signup:hover{
    text-decoration-line: none;
    border-top: #0065FC solid 2px;
    padding-top: 2em;
}
h1{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 2em;
}
.secondarytext{
    color: black;
    font-size: 0.9em;
}
.searchbarzone form{
    display: flex;
    margin-bottom: 2%;
}
#mapicon{
    background-color: #F2F2F2;
    border-radius: 1em 0 0 1em;
	cursor: pointer;
    padding: 1em;
    line-height: 1.5em;
}
#searchbar{
    background-color: inherit;
    padding-top: 1.25em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    border-color: #F2F2F2;
    border-left: none;
    border-right: none;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    line-height: 1.7em;
    font-weight: bold;
    color: black;
}
#searchbar::placeholder{
    color: black;
    font-size: 1.2em;
}
.searching .secondarytext{
    line-height: 2em;
}
.searching .secondarytext i{
    font-size: 0.8em;
	color: #0065FC;
	padding: 0.5em;
    padding-bottom: 1em;
    padding-left: 0.8em;
    padding-right: 0.6em;
    margin-right: 0.5em;
    border-radius: 100%;
	cursor: pointer;
    float: left;
    height: 0.5em;
    width: 0.5em;
    border: 3px solid #F2F2F2;
}
.searchbutton1{
	background: #0065FC;
	border-radius: 0 1em 1em 0;
    border:inherit;
	padding: 0.88em;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color: white;
    font-weight: bold;
    line-height: 1.7em;
}
.searchbutton2{
    display: none;
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0 1em 1em 0;
    padding: 0 1.5em;
    cursor: pointer;
}
.filters{
    display: flex;
    flex-wrap: wrap;
}
.filters h3{
    float: left;
    margin-right: 1.5em;
}
.filters a{
    text-decoration-line: none;
}
.filtersgeneralstyle{
    display: flex;
    border: 2px solid #F2F2F2;
    border-radius: 2em;
    height: 3em;
    margin-right: 1em;
    transition-duration: 0.25s;
}
.filtersgeneralstyle:hover {
    background-color: #DEEBFF;
    transform: scale(1.1);
}
.filtersicon{
    background-color: #DEEBFF;
	color: #0065FC;
	padding: 1em;
    border-radius: 100%;
	cursor: pointer;
    float: left;
    width: 1em;
}
.filtersname{
    color: black;
    font-weight: bold;
    margin: 1em;
}
.accomodationsection{
    display: inline-block;
    background-color: #F2F2F2;
    border-radius: 1.5em;
    padding: 1%;
    margin-top: 1%;
    margin-right: 2%;
    width: 61.5%;
    vertical-align: top;
}
.accomodationsection div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
h2{
    font-size: 1.3em;
}
.accomodationsection h2{
    margin-left: 2%;
}
.accomodationarticle{
    display: inline-block;
    background-color: white;
    border-radius: 1.5em;
    margin-top: 3%;
    box-shadow: 0px 0px 10px 5px #D8D8D8;
    width: 246px;
    height: 200px;
}
.accomodationarticle a{
    text-decoration-line: none;
    overflow: auto;
}
.accomodationarticle a figcaption{
    color: black;
    padding: 0;
    padding-left: 1em;
}
.accomodationarticle a figcaption h3{
    margin-bottom: 0;
    margin-top: 0;
}
.accomodationfigureimg{
    object-fit: cover;
    height: 115px;
    width: 235px;
    border-radius: 1em 1em 0 0;
}
.accomodationarticle a p{
    color: black;
    padding-left: 1.25em;
    margin-top: 0;
    margin-bottom: 0;
}
.accomodationarticle a p strong{
    color: black;
}
.nightform{
    color: grey;
}
.accomodationarticle .stars{
    display: inline-block;
    padding-left: 1.25em;
    color: #0065FC;
    margin-bottom: 0.4em;
    margin-top: 0.25em;
}
.starsfalse{
    color: #F2F2F2;
}
.more{
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 2%;
    font-size: 1.1em;
}
.more a{
    text-decoration-line: none;
    color: black;
    font-weight: bold;
}
figure{
    margin: 5px;
}
aside{
    display: inline-block;
    background-color: #F2F2F2;
    border-radius: 1.5em;
    padding: 1%;
    margin-top: 1%;
    width: 28.5%;
}
aside h2{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2em;
}
.populararticle{
    background-color: white;
    border-radius: 1.5em;
    margin: 5%;
    margin-bottom: 6%;
    box-shadow: 0px 0px 10px 5px #D8D8D8;
    height: 145px;
    width: 336px;
}
.populararticle a{
    display: flex;
    text-decoration-line: none;
}
.populararticle .imgpart{
    display: inline-block;
    width: 127px;
    height: 134px;
}
.containerText{
    width: 60%;
    overflow: auto;
}
.populararticle .textpart{
    display: flex;
    flex-direction: column;
    height: 80%;
}
.popularfigureimg{
    object-fit: cover;
    width: 127px;
    height: 134px;
    border-radius: 1em 0 0 1em;
}
.populararticle a h3{
    text-decoration-line: none;
    font-weight: bold;
    color: black;
    padding-left: 10%;
    margin-bottom: 0;
}
.populararticle a p{
    color: black;
    padding-left: 10%;
    margin-top: 0;
}
.populararticle a p strong{
    color: black;
}
.populararticle .stars{
    padding-left: 10%;
    color: #0065FC;
    line-height: 2em;
    height: 20%;
}
#activities{
    margin-top: 5%;
}
.activitiessection{
    display: inline-block;
    margin-bottom: 2%;
}
.activitiesflex{
    display: flex;
}
.col{
    display: flex;
    flex-wrap: wrap;
    width: 21.8%;
    margin-right: 3%;
}
.activitiessection .activitiesflex a{
    text-decoration-line: none;
    color: black;
}
.activitiessection .activitiesflex img{
    width: 100%;
    overflow: hidden;
}
.activitiessection figure{
    margin: 0%;
}
.activitiessection .activitiesflex figcaption{
    margin-left: 5%;
}
.activitiesarticle1{
    box-shadow: 0px 0px 5px 2px #DEDEDE;
    border-radius: 1.5em;
    width: 100%;
}
.activitiesarticle1 img{
    object-fit: cover;
    height: 396px;
}
.activitiesarticle2{
    box-shadow: 0px 0px 5px 1px #DEDEDE;
    border-radius: 1.5em;
    margin-bottom: 13%;
    width: 100%;
}
.activitiesarticle2 img{
    object-fit: cover;
    height: 182.46px;
}
.activitiesarticle3{
    box-shadow: 0px 0px 5px 1px #DEDEDE;
    border-radius: 1.5em;
    width: 100%;
}
.activitiesarticle3 img{
    object-fit: cover;
    height: 98.25px;
}
.activitiesarticle4{
    box-shadow: 0px 0px 5px 1px #DEDEDE;
    border-radius: 1.5em;
    width: 100%;
}
.activitiesarticle4 img{
    object-fit: cover;
    height: 396px;
}
.activitiesarticle5{
    box-shadow: 0px 0px 5px 1px #DEDEDE;
    border-radius: 1.5em;
    width: 100%;
    margin-bottom: 13%;
}
.activitiesarticle5 img{
    object-fit: cover;
    height: 140.35px;
}
.activitiesarticle6{
    box-shadow: 0px 0px 5px 1px #DEDEDE;
    border-radius: 1.5em;
    width: 100%;
}
.activitiesarticle6 img{
    object-fit: cover;
    height: 140.35px;
}
.activitiesfigureimg{
    border-radius: 1em 1em 0 0;
}
.stars{
    text-decoration-line: none;
    text-decoration-color: #0065FC;
}
footer{
    background-color: #F2F2F2;
    margin-top: 2%;
}
footer section{
    width: 25%;
    text-align: left;
}
footer nav{
    display: flex;
}
footer nav section{
    margin-right:5%;
    margin-left: 5%;
    padding-bottom: 2%;
    margin-top: 1.5em;
}
footer nav section h3{
    font-weight: bold;
}
footer nav section ul{
    padding: 0;
}
footer nav section ul li{
    list-style-type: none;
    text-align: left;
    margin-bottom: 3%;
}

footer nav section ul li a{
    text-decoration-line: none;
    color: black;
}
@media all and (max-width: 1024px){
    html{
        width: auto;
        max-width: 1033px;
        margin-left: auto;
        margin-right: auto;
    }
    .container{
        max-width: 600px;
        margin: 0 auto;
    }
    .filterstitle{
        width: 1250px;
    }
    .filters a{
        font-size: 1.5em;
        margin-bottom: 1em;
    }
    #searchbar{
        width: 85%;
    }
    #mapicon{
        width: 2%;
    }
    .accomodationflex{
        display: flex;
        flex-direction: column-reverse;
    }
    .accomodationsection{
        background-color: inherit;
    }
    aside{
        width: 95%;
        border-radius: inherit;
        height: 900px;
    }
    .activitiesflex{
        display: flex;
        flex-direction: column;
    }
    .col{
        width: auto;
    }
    .accomodationsection{
        width: 95%;
    }
    .accomodationarticle{
        width: 100%;
    }
    .activitiesarticle1{
        margin-bottom: 5%;
    }
    .activitiesarticle1 img{
        height: 12em;
    }
    .activitiesarticle2{
        margin-bottom: 5%;
    }
    .activitiesarticle2 img{
        height: 12em;
    }
    .activitiesarticle3{
        margin-bottom: 5%;
    }
    .activitiesarticle3 img{
        height: 12em;
    }
    .activitiesarticle4{
        margin-bottom: 5%;
    }
    .activitiesarticle4 img{
        height: 12em;
    }
    .activitiesarticle5{
        margin-bottom: 5%;
    }
    .activitiesarticle5 img{
        height: 12em;
    }.activitiesarticle6{
        margin-bottom: 5%;
    }
    .activitiesarticle6 img{
        height: 12em;
    }
    footer section{
        width: 100%;
    }
    footer nav{
        display: flex;
        flex-direction: column;
    }
    .searchbutton1{
        display: none;
    }
    .searchbutton2{
        display: block;
    }
}