body header nav ul li{
    list-style-type: none;
    }
footer{
    background-color: #F2F2F2;
    }
footer nav{
    display:flex;
    justify-content: center;
    }
footer nav section ul li{
    list-style-type: none;
    }

footer nav section ul li a{
    text-decoration-line: none;
    text-decoration-color: none;
    color: grey
    }
footer nav section ul li a:hover{
    text-decoration-line: underline;
    }