@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
html{
    font-family: raleway;
}
.signupbutton{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
body header{
    display: inline-block;
}
body header img{
    float: left;
}
body header nav ul{
    text-align: right;
}
body header nav ul li{
    display: inline-block;
    list-style-type: none;
}
body header nav ul li a{
    text-decoration-line: none;
}
body header nav ul li a:hover{
    color: #0065FC;
}
body header nav ul li a:visited{
    color: grey;
}
.signupbutton{
    color: #0065FC;;
}
.accomodationsection{
    background-color: #F2F2F2;
    border-radius: 1.5em;
    padding: 1.5em;
    display: inline-block;
    width: 60%;
}
.accomodationarticle{
    display: inline-block;
    background-color: white;
    border-radius: 1.5em;
    padding: 1.5em;
    margin: 1.5em;
    box-shadow: 0px 0px 5px gray;
    width: 20%;
}
aside{
    display: inline-block;
    background-color: #F2F2F2;
    border-radius: 1.5em;
    margin: 1.5em;
    width: 30%;
}
.populararticle{
    display: inline-block;
    background-color: white;
    border-radius: 1.5em;
    margin: 1.5em;
    padding: 1.5em;
    box-shadow: 0px 0px 5px gray;
}

.activitiesarticle{
    display: inline-block;
    box-shadow: 0px 0px 5px gray;
    border-radius: 1.5em;
    padding: 1.5em;
    margin: 1.5em;
}
.stars{
    text-decoration-line: none;
    text-decoration-color: #0065FC;
}
.activitiessection{
    display: inline-block;
}
footer{
    background-color: #F2F2F2;
}
footer section{
    width: 25%;
    text-align: left;
}
footer nav{
    display:flex;
}
footer nav section ul li{
    list-style-type: none;
    text-align: left;
}

footer nav section ul li a{
    text-decoration-line: none;
    color: grey;
}
footer nav section ul li a:hover{
    text-decoration-line: underline;
}